body{
    background-color: rgba(77, 128, 225, 0.983)
}

header{
    text-align: center;

}

section{
    text-align: center;
}

div{
    text-align: center;
}

p{
    text-align: center;
}

footer{
    text-align: center;
}